@import url("https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1920px;
  min-width: 400px;
  margin: 0 auto;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 2.3rem;
  color: #032263;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  color: #032263;
}

h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  color: #032263;
}

h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.7rem;
  color: #032263;
}

button {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  background-color: #032263;
  border-radius: 8px 8px;
  padding: 7px;
  color: white;
}

button:hover {
  background-color: #3b82f6;
}
